# .pylintrc
[MASTER]
ignore=venv,tests
jobs=0

[MESSAGES CONTROL]
disable=
    C0114,C0115,C0116,  # docstrings
    R0903,              # too-few-public-methods
    W1203,              # f-string-in-logging (loguru is fine)
    W0603,              # Global statement
    R1705,              # Else statements
    W0613,              # Unused argument
    W0612,              # Unused variable
    W0108,              # Lambda
    E1101               # no-member

[FORMAT]
max-line-length=110
