name: Vue.js
permissions:
  contents: read

on: [push]

jobs:
  npm-build:
    defaults:
      run:
        working-directory: frontend
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 25
          cache: 'npm'

      - name: Go to frontend directory
        run: cd ./frontend/

      - name: Install dependencies
        run: npm ci

      - name: Lint
        run: npm run lint

      - name: Build
        run: npm run build

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
        # Upload dist folder
          path: './frontend/dist'
